<div class="container">
    <div class="row">
    <!-- sidetag  ここから -->
        <div class="col-xs-3">
            <div class="side-tag">
                <!-- サイドタグの部分テンプレート -->
            </div>
        </div>
    <!-- sidetag  ここまで -->

        <div class="col-xs-9">
            <h1 class="owner-profile-edit-title text-center">My Profile Edit</h1>


            <!-- Updateボタン -->
            <!-- オーナー詳細画面に遷移 -->
        </div>



    </div><!-- row -->
</div><!-- container -->
