<div class="container">
    <div class="row">
    <!-- sidetag  ここから -->
        <div class="col-xs-3">
            <div class="side-tag">
                <!-- サイドタグの部分テンプレート -->
            </div>
        </div>
    <!-- sidetag  ここまで -->

        <div class="col-xs-9">
            <h1 class="owner-profile-title text-center">My Profile</h1>

            <!-- 編集ボタン -->

            <!-- 退会ボタン -->
        </div>



    </div><!-- row -->
</div><!-- container -->
