飲食店一覧画面(検索結果画面)

<div class="container">
    <div class="row">

    <!-- 検索フォーム -->
    <div class="search-box">
        <div class="row">
            <!-- キーワード -->
            <!-- 都道府県 -->
            <!-- 利用日検索 -->
        </div>
    </div>


    <!-- 検索対象一覧 -->
    <div class="col-xs-12 col-sm-4">
        <div class="restaurant-box">
            <div class="row">
                <div class="col-xs-6 col-sm-12">
                    <div class="image-box">
                        <!-- attachment 店舗画像 -->
                    </div>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <!-- 店舗名 -->
                    <!-- アクセス -->
                    <!-- 利用日 -->
                    <!-- 利用時間 -->
                    <!-- 利用料金 -->
                </div>
            </div>
        </div>
        <!-- 店舗詳細リンク -->
    </div>

    </div><!-- row -->
</div><!-- container -->
