<div class="container">
    <div class="row">


        <section id="content">
            <div class="container">
                <div class="row">
                    <h1 class="content-title text-center">Content</h1>
                    <div class="content-inner">
                    <!-- スペース画像(左) -->
                    <!-- 店舗情報(右) -->
                    </div>
                </div>
            </div>

        </section>

        <section id="access">
            <div class="container">
                <div class="row">
                    <h1 class="access-title text-center">Access</h1>
                    <div class="access-inner">
                        <!-- Google Map使用 -->
                    </div>
                </div>
            </div>
        </section>


        <section id="review">
            <div class="container">
                <div class="row">
                    <h1 class="review-title text-center">Review</h1>
                    <div class="review-inner">
                        <!-- レビュー一覧 -->
                        <!-- kaminari実装予定 -->
                    </div>
                </div>
            </div>
        </section>

        <!-- 予約フォーム -->

    </div><!-- row -->
</div><!-- container -->
