飲食店詳細画面
<div class="container">
    <div class="row">


        <section id="content">
            <div class="container">
                <div class="row">
                    <h1 class="content-title text-center">Content</h1>
                    <div class="concept-inner">
                    <!-- スペース画像(左) -->
                    <!-- 店舗情報(右) -->
                    </div>
                </div>
            </div>

        </section>

        <section id="access">
            <div class="container">
                <div class="row">
                <!-- Google Map使用 -->
                </div>
            </div>
        </section>


        <section id="review">
            <div class="container">
                <div class="row">
                <!-- レビュー一覧 -->
                <!-- kaminari実装予定 -->
                </div>
            </div>
        </section>

        <!-- 予約フォーム -->

    </div><!-- row -->
</div><!-- container -->
