<div class="container">
    <div class="row">

        <!-- Main-Visual -->
        <section id="visual-area">
            <div class="container">
                <div class="row">
                    <!-- スキッパー画像 -->
                    <div id="theTarget">
                        <div style="background-image: url(images/image1.jpg)"></div>
                        <div style="background-image: url(images/image2.jpg)"></div>
                        <div style="background-image: url(images/image3.jpg)"></div>
                        <div style="background-image: url(images/image4.jpg)"></div>
                    </div>
                </div>
            </div>
            <!-- ロゴ画像 -->
        </section>


        <!-- Concept -->
        <section id="concept-area">
            <div class="container">
                <div class="row">
                    <h1 class="concept-title text-center">Concept</h1>
                    <div class="concept-inner">
                        <!-- Concept画像 -->
                        <figure class="concept-image col-xs-6">
                            <%= image_tag "partnership.png", size:'150x150' %>
                        </figure>
                        <!-- Concept説明文 -->
                        <p class="concept-text col-xs-6">
                            <strong>必要としている人にスペースを提供</strong></br>
                            Space Shareでは、利用スペースを必要とするユーザーと空きスペース有効活用したいオーナーをつなぐサービスです。</br>
                            夜間営業が多く日中帯は空いていることが多いスペースをうまく活用したい！</br>
                            そんなオーナーと会議や勉強会で使用したいユーザーをつなぐサービスです。
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Service -->
        <section id="service-area">
            <div class="container">
                <div class="row">
                    <h1 class="service-title text-center">Service</h1>
                    <div class="service-inner">
                        <!-- Service画像 -->
                        <figure class="service-image col-xs-6">
                            <%= image_tag "homepage (1).png", size:'150x150' %>
                        </figure>
                        <!-- Service説明文 -->
                        <p class="service-text col-xs-6">
                            1. ユーザーは会議や勉強などで使用する空きスペースをアプリで探します</br>
                            2. 空いているお店の場所を予約で確保します</br>
                            3. 予約の段階で支払方法を選択します</br>
                            4. お店に行って空きスペースを利用できます
                        </p>
                    </div>
                </div>
            </div>
        </section>








    </div><!-- row -->
</div><!-- container -->
