/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */

/* Bootstrap追加 */
@import "bootstrap-sprockets";
@import "bootstrap";

// Setting
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

// Top画面
#concept-area{
    margin-top: 20px;
    margin-bottom: 20px;
}

// concept-title
.concept-title{
    padding-top: 70px;
    font-family: "Raleway" sans-serif;
    font-size: 32px;
}

.concept-title::after{
    content: "";
    display: block;
    width: 95px;
    height: 3px;
    background-color: #20b2aa;
    margin: 8px auto 0 auto;
}

.concept-text{
    padding-top: 30px;
    font-size: 16px;
}

// service-title
.service-title{
    padding-top: 70px;
    font-family: "Raleway" sans-serif;
    font-size: 32px;
}

.service-title::after{
    content: "";
    display: block;
    width: 95px;
    height: 3px;
    background-color: #20b2aa;
    margin: 8px auto 0 auto;
}

.service-text{
    padding-top: 30px;
    font-size: 16px;
}

// skippr画像
#theTarget{
    height: 500px;
}


// footer画像
footer{
    background-color: rgba(127, 255, 212, .6);
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
}

.footer{
    width: 100%;
}
