// ヘッダー
header{
    width: 100%;
    height: 70px;
    background-color: rgba(127, 255, 212, .6);
    color: white;
    position: fixed;
    top:0;
    z-index: 1000;
}
// ヘッダー内のリンクレイアウト
.nav{
    float: right;
}
.nav-list{
    list-style: none;
    float: left;
    margin-right: 50px;
}
// ヘッダーリンクボタン
$color: #0cf;
.button {
    margin-bottom: 10px;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
// ロゴ
.logo{
    margin-left: 10px;
}
.login-status{
    margin-top: 10px;
    margin-right: 20px;
}
