<header class="container-fluid">
    <div class="row">
        <div class="logo pull-left">
            <!-- logoの表示 -->
            <%= image_tag "space-share.jpg", size:'70x70' %>
        </div>

        <nav class="pull-right">
            <ul>
                <li class="header-link">
                    <a href="concept">Concept</a>
                </li>
                <li class="header-link">
                    <a href="service">Service</a>
                </li>
                <li class="header-link">
                    <a href="user">User</a>
                </li>
                <li class="header-link">
                    <a href="owner">Owner</a>
                </li>
            </ul>
        </nav>




    </div><!-- row -->
</header><!-- container-fluid -->
