<header class="container-fluid">
    <div class="row">
        <div class="logo pull-left">
            <!-- logoの表示 -->
            <%= image_tag "space-share.jpg", size:'70x70' %>
        </div>

        <nav class="pull-right">
            <ul>
                <li class="header-link">
                    <a href="#concept-area">Concept</a>
                </li>
                <li class="header-link">
                    <a href="#service-area">Service</a>
                </li>
                <li class="header-link">
                    <!-- 飲食店一覧画面に遷移する -->
                    <%= link_to "User", restaurants_path %>
                </li>
                <li class="header-link">
                    <!-- オーナーログイン画面に遷移する -->
                    <%= link_to "Owner", new_owner_registration_path %>
                </li>
            </ul>
        </nav>




    </div><!-- row -->
</header><!-- container-fluid -->
